# Dart
.dart_tool/
.packages
.pub/
build/
*.dart.js
*.info.json
*.js.deps
*.js.map
*.snapshot
*.swp
*.lock
*.log

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/.gradle/
android/captures/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
macos/Flutter/Flutter.podspec
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner.xcworkspace/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/.dart_tool/

# VS Code
.vscode/

# IntelliJ / Android Studio
*.iml
.idea/
*.ipr
*.iws
*.bak

# Output and build
build/
ios/Flutter/App.framework
*.apk
*.ipa
*.app

# Firebase, keys (if any, add manually)
*.keystore
.env
firebase_options.dart
